[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
django-summernote = "==0.8.11.6"
djangorestframework = "*"
pillow = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.9"
